body {
  background-image: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.774),
    rgba(255, 255, 255, 0.151)
  );
  text-align: center;
  margin-top: 15%;
  font-family: "Courier Prime", monospace;
}

.countdown {
  font-size: 25px;
}

.button {
  min-width: 200px;
}

#add-mins {
  border: none;
  color: white;
  background-color: rgb(69, 151, 186);
  font-size: 14px;
  display: inline-block;
  padding: 15px 32px;
  max-width: 100px;
  font-family: "Courier Prime", monospace;
}

#remove-mins {
  border: none;
  color: white;
  background-color: #da9132;
  font-size: 14px;
  display: inline-block;
  padding: 15px 32px;
  font-family: "Courier Prime", monospace;
}

#done {
  border: none;
  color: white;
  background-color: rgba(222, 241, 136, 0.763);
  font-size: 14px;
  display: inline-block;
  padding: 15px 32px;
  font-family: "Courier Prime", monospace;
}

#start {
  border: none;
  color: white;
  background-color: rgba(102, 191, 117, 0.694);
  font-size: 14px;
  display: inline-block;
  padding: 15px 32px;
}

#restart {
  border: none;
  color: white;
  background-color: rgb(227, 145, 224);
  font-size: 14px;
  display: inline-block;
  padding: 15px 32px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
}

#title {
  font-size: 3.5vh;
}
